:host {
  display: block;
  width: 400px;
}
.product-image {
  height: 200px;
  width: 100%;
  padding: 5px;
  object-fit: contain;
}
.product-title {
  font-size: 16px;
  height: 40px;
}
.description {
  max-height: 50px;
  overflow: hidden;
}

.star-rating {
  font-size: 18px;
  .star {
    color: var(--ion-color-medium);
  }
  .star.filled {
    color: var(--ion-color-warning);
  }

  .rating-count {
    font-size: 13px;
    margin-left: 10px;
  }
}

.price {
  font-size: 17px;
  font-weight: 600;
}

