<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="cartQuantity$ | async as cartQuantity">
      <ion-button routerDirection="root" [routerLink]="cartUrl">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <div class="cart-quantity">
        {{ cartQuantity }}
      </div>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
