<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>

          <a [routerLink]="routePathEnum.HOME" class="logo-container">
            <img class="logo" alt="carrefour logo" src="assets/img/logo.png"/>
          </a>
          <ion-list-header>{{'menu.hello' | translate}}</ion-list-header>
          <ion-note>{{'menu.accountMock' | translate}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of menuList; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title | async }}</ion-label>
              <div class="cart-quantity" *ngIf="p.url.includes(routePathEnum.CART) && (cartQuantity$ | async) as quantity">
                {{ quantity }}
              </div>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header>{{'menu.category' | translate}}</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let label of categories$ | async">
            <ion-item  routerDirection="root" lines="none" [routerLink]="routePathEnum.CATEGORY + '/' + label" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{ label | titlecase }}</ion-label>
            </ion-item>

          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
