<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'homePage.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div id="container">
    <div class="banner-container">
      <img class='banner-img' alt="home page banner" src="../../../assets/img/home-banner.jpg">
        <h2 class="catchphrase">Carrefour Home - Simplicité en 1 clic.</h2>
    </div>
    <div class="product-container">
      <ion-spinner *ngIf="isLoading$ | async"></ion-spinner>
      <carrefour-product-card *ngFor="let product of allProducts$ | async"
                              [product]="product"
                              (addToCart)="addProductToCart($event)"></carrefour-product-card>
    </div>
  </div>
</ion-content>
