<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'homePage.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="banner-container">
      <img class='banner-img' alt="home page banner" src="../../../assets/img/home-banner.jpg">
      <h2 class="catchphrase">Carrefour Home - Simplicité en 1 clic.</h2>
    </div>
  </div>
</ion-content>
