<carrefour-mobile-header [title]="'homePage.title' | translate"></carrefour-mobile-header>

<ion-content class="ion-padding">

  <div id="container">
    <div class="banner-container">
      <img class='banner-img' alt="home page banner" src="assets/img/home-banner.jpg">
    </div>
    <h1>{{'homePage.subtitle' | translate}}</h1>
    <ion-range (ionChange)="priceFilterChanged($event)"
               aria-label="price filter"
               labelPlacement="start"
               [label]="'homePage.priceFilter' | translate"
               [pin]="true"
               [pinFormatter]="pinFormatter"
               [dualKnobs]="true"
               [value]="{ lower: '0', upper: '100' }"></ion-range>
    <div class="product-container">
      <ion-spinner *ngIf="isLoading$ | async"></ion-spinner>
      <carrefour-product-card *ngFor="let product of products$ | async"
                              [product]="product"
                              (addToCart)="addProductToCart($event)"></carrefour-product-card>
    </div>
  </div>
</ion-content>
