ion-menu-button {
  color: var(--ion-color-primary);
}

.banner-container {
  display: flex;
  position: relative;
}

.banner-img {
  max-height: 30vh;
  width: 98%;
  object-fit: cover;
  margin: 10px;
  border-radius: 15px;
}

.catchphrase {
  width: 50%;
  position: absolute;
  top: 0;
  margin-left: 30px;
  margin-top: 40px;
}
